/* * {
  outline: 1px solid red;
} */

.hw100 {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  align-items: center;
}

.white {
  pointer-events: none;
}

.wfc {
  width: fit-content;
}

.black-bg {
  background-color: #5D4037;
}

.white-bg {
  background-color: #BCAAA4;
}

p {
  font-size: 10em;
  display: flex;
  flex-flow: nowrap row;
  justify-content: center;
  padding: .25em 0;
}

#startInstructions {
  font-size: 2em;
  color: white;
}

.controls {
  background: linear-gradient(270deg, #AEB6BF, #AEB6BF 33%, #5D6D7E, #5D6D7E 67%, #2E4053, #2E4053 100%);
}

.coltrol-pos {
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
}

select {
  border-radius: .5em;
  font-size: 1em;
  width: 4em;
  position: relative;
  left: 25%;  
  background-color: #2E4053;
  color: white;
  border-style: solid;
  border-color: white;
  text-align: center;
}

button {
  background-color: transparent;
  font-family: "Asset";
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  text-align: center;
  font-size: 1em;
}




@media(max-width: 1200px) {

.black {
  transform: rotate(180deg);
}

button {
  padding-left: 15em;
}

#startInstructions {
  transform: rotate(180deg);
}


}


